<form class="form" action="/admin/room" method="POST">
    <div class="inputs">
        <input class="text-input" placeholder="タイトルを設定" name="name">
    </div>
    <input class="btn" type="submit" value="ルームを新規作成">
</form>
<h1>ルーム一覧</h1>
<% @rooms.each do |room| %>
    <a href="/admin/room/<%= room.id %>">タイトル: <%= room.name %> ID: <%= room.number %></a><br>
<% end %>