<form class="form" action="/admin/room" method="POST">
    <div class="inputs">
        <input class="text-input" placeholder="タイトルを設定" name="name">
    </div>
    <input class="btn" type="submit" value="ルームを新規作成">
</form>
<h1>ルーム一覧</h1>
<table>
    <tr>
        <th>タイトル</th>
        <th>ID</th>
    </tr>
    
    <% @rooms.each do |room| %>
        <tr>
            <td><a class="context" href="/admin/room/<%= room.id %>"><%= room.name %></a></td>
            <td><%= room.number %></td>
        </tr>
    <% end %>
</table>