<div class="form">
	<form action="/room" method="GET">
		<h1>ルームID</h1>
		<input class="number-input" type="tel" placeholder="数字を入力" name="number"><br>
		<input class="btn" type="submit" value="入室">
	</form>
</div>